body {
	padding: 0; /* Gets rid of the automatic padding */
	margin: 0;	/*	on HTML documents */
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 60px;
  text-align: center;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: black;
  color: rgba(1, 1, 1, 0.8);
}

#navigation a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

/* This just adds some style to the placeholder text */

#content {
	width: 600px;
	padding-top: 90px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#create {
	width: 650px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

#container {
	width: 1750px;
	height: 780px;
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

#form {
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #DBDBDB 100%);
	
	text-align: center;
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border: 1px solid #B3B3B3;
	background-color: #EBEBEB;
	margin-left: 120px;
	margin-right: 120px;
	padding-top: 20px;
	padding-bottom: 30px;
	
}

#module{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #DBDBDB));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #DBDBDB 100%);
	height: 600px;
	width: 400px;
	text-align: left;
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border: 1px solid #B3B3B3;
	background-color: #EBEBEB;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 30px;
}

#form h1 {
	font-family: Helvetica;
	color: black;
}

#form input {
	margin-bottom: 15px;
}

#footer {
	padding-top: 175px;
	text-align: center;
}

#footer a {
	text-decoration: none;
}

input.num1{width:145px;}
input.detail{width:250px; height:150px}
input.txt{width:220px}

#complaint_center {text-align: center;}

a:link {color:#F75D59;}      /* unvisited link */
a:visited {color:#F75D59;}  /* visited link */
a:hover {color:#F75D59;}  /* mouse over link */
a:active {color:#F75D59;}  /* selected link */